In [34]:
import numpy as np 
import matplotlib.pyplot as plt 
from fetching import fetcher
import pandas as pd 

def get_results(project, metrics = ["r_test", "r_train"], params = ["model", "coding", "n_feno/env"]):

    fet = fetcher(project = project)
    results = fet.get_results(metrics, params)

    return results

In [35]:
R = get_results(["yeast-final"])

Fetching ['r_test', 'r_train'] and ['model', 'coding', 'n_feno/env']
Project yeast-final
fetching experiments
fetching experiment keys

In [32]:
print(R[ (R["metricName"] == "r_test") & (R["model"] == "ridge")])

        database                     experimentKey    coding n_feno/env  \
0    yeast-final  d4142e208196464fa0a5a27929b42180  no_codif          3
1    yeast-final  d4142e208196464fa0a5a27929b42180  no_codif          3
2    yeast-final  d4142e208196464fa0a5a27929b42180  no_codif          3
3    yeast-final  d4142e208196464fa0a5a27929b42180  no_codif          3
4    yeast-final  d4142e208196464fa0a5a27929b42180  no_codif          3
..           ...                               ...       ...        ...
925  yeast-final  e0bdb0f0b97e403e92e56d6a62ead422  no_codif          9
926  yeast-final  e0bdb0f0b97e403e92e56d6a62ead422  no_codif          9
927  yeast-final  e0bdb0f0b97e403e92e56d6a62ead422  no_codif          9
928  yeast-final  e0bdb0f0b97e403e92e56d6a62ead422  no_codif          9
929  yeast-final  e0bdb0f0b97e403e92e56d6a62ead422  no_codif          9

     model metricName     value  step
0    ridge     r_test  0.646673     0
1    ridge     r_test  0.660507     1
2    ridge     r_test  0.623584     2
3    ridge     r_test  0.680394     3
4    ridge     r_test  0.654133     4
..     ...        ...       ...   ...
925  ridge     r_test  0.700904     5
926  ridge     r_test  0.650347     6
927  ridge     r_test  0.605045     7
928  ridge     r_test  0.731608     8
929  ridge     r_test  0.747666     9

[120 rows x 8 columns]

In [58]:
R_tests_mean = {}
i = 0
for model in ["gbm", "rf", "svm", "ridge"]:
    for n_feno in range(int(R["n_feno/env"].max()) + 1):
        rr = R[(R["metricName"] == "r_test") & (R["model"] == model) & (R["n_feno/env"] == str(n_feno))]
        try:
            R_tests_mean["env_" + str(n_feno)].append(np.round(rr["value"].mean(), 2))
        except:
            R_tests_mean["env_" + str(n_feno)] = [np.round(rr["value"].mean(), 2)]

In [59]:
R_df = pd.DataFrame(R_tests_mean, index = ["gbm", "rf", "svm", "ridge"])

In [61]:
R_df

       env_0  env_1  env_2  env_3  env_4  env_5  env_6  env_7  env_8  env_9
gbm     0.81   0.73   0.71   0.68   0.73   0.46   0.82   0.87   0.77   0.78
rf      0.77   0.47   0.51   0.35   0.63   0.35   0.54   0.81   0.57   0.50
svm     0.74   0.68   0.67   0.69   0.67   0.41   0.77   0.70   0.76   0.76
ridge   0.51   0.61   0.60   0.64   0.62   0.39   0.73   0.61   0.71   0.69

In [68]:
def highlight_max(x):
    return ['font-weight: bold' if v == x.max() else ''
                for v in x]

R_df.style.apply(highlight_max)